* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
}

:root {
    --bg: #141414;
    --bg2: #191919;
    --text: white;
    --main: #0077ff;
}

.light-mode {
    --bg: #ffffff;
    --bg2: #f5f5f5;
    --text: #111111;
    --main: #0077ff;
}

html,
body {
    /* min-height: 100%;                                        this wasted our 6hrs never used otherwise window will not sense scroll*/
    width: 100%;
    background: var(--bg);
    color: var(--text);

    /* used to avoid problem in small screen device*/
    overflow-x: hidden;
    transition: all 0.3s ease;

    /* used to add sroll efect when clicked on nav links*/
    scroll-behavior: smooth;
}

section {
    /* Fixed when clicked header links, stops correctly */
    scroll-margin-top: 4rem;
}

.header {
    /* 0.8 is the black color opacity*/
    background: rgba(0, 0, 0, 0.8);
    color: var(--main);
    min-height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    /* used to blur bg below header*/
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
}

.header-name {
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 0 0 25px var(--main), 0 0 50px var(--main);
    cursor: pointer;
    transition: 0.3s ease;
}

.header-name:hover {
    transform: scale(1.1);
}

#menu-icon {
    font-size: 2rem;
    color: var(--main);
    cursor: pointer;
    display: none;
}

#theme-toggle {
    font-size: 2rem;
    color: var(--main);
    transition: 0.3s ease;
    cursor: pointer;
}

#theme-toggle:hover {
    transform: scale(1.2);
}

.header-items {
    display: flex;
    column-gap: 4rem;
    font-size: 1rem;
}

.header-items a {
    cursor: pointer;
    text-decoration: none;
    color: white;

    /* used to avoid header links flickering */
    border-bottom: 3px solid transparent;
}

.header-items a:hover,
.header-items a.active {
    color: var(--main);
    border-bottom: 3px solid var(--main);
    text-shadow: 0 0 25px var(--main), 0 0 50px var(--main), 0 0 75px var(--main), 0 0 100px var(--main);
}


/* ------------------------------------------------------------------home------------------------------------------------------------------------------------------------ */


.home {
    background: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 46rem;
    column-gap: 18rem;
}

.home-items {
    color: var(--text);
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

/* target an element based on given position among siblings of the same type.*/
.home h1:nth-of-type(2) {
    font-size: 5rem;
}

.home-name {
    color: var(--main);
}

.home-anime {
    position: relative;
    color: var(--main);
}

.home-anime::before {
    content: "Frontend Developer";
    animation: words 12s infinite;
}

.home-anime::after {
    content: "";
    position: absolute;
    right: -8px;
    top: 0;
    width: calc(100% + 8px);
    min-height: 100%;
    background-color: var(--bg2);
    border-left: 2px solid var(--main);
    animation: cursor 0.4s infinite, typing 20s steps(70) infinite;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes words {

    0%,
    33% {
        content: "Frontend Developer";
    }

    34%,
    66% {
        content: "Web Developer";
    }

    67%,
    100% {
        content: "UI Developer";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

.home-github {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    border-radius: 50%;
    border: 2px solid var(--main);
    color: var(--main);
    margin-left: 3.4rem;
    margin-top: 2rem;
    transition: 0.3s ease;
}

.home-github:hover {
    transform: scale(1) translateY(-10px);
    background: var(--main);
    box-shadow: 0 0 50px var(--main);
    color: var(--text);
}

.home-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    background: var(--main);
    text-decoration: none;
    max-width: 14rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 3rem;
    font-size: clamp(13px, 1.3vw, 20px);
    font-weight: bold;
    transition: 0.3s ease;
    letter-spacing: 0.6px;
    box-shadow: 0 0 25px var(--main);
}

.home-resume:hover {
    box-shadow: 0 0 20px var(--main);
    transform: scale(1.1);
}

.home-image {
    height: 26rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 2rem;
    border: 3px solid var(--text);
    box-shadow: 0 0 50px 5px var(--text);
    transition: 0.3s ease;
}


/* ----------------------------------------------------------------about------------------------------------------------------------------------------------------------- */


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 46rem;
    background-color: var(--bg2);
    column-gap: 8rem;
    color: var(--text);
}

.image_container {
    min-height: 19rem;
    width: 20rem;
    border-radius: 50%;
    background-color: white;
}

.about-image {
    min-height: 19rem;
    width: 20rem;
    border-radius: 50%;
    box-shadow: 0 0 50px var(--text);
}

.about-items {
    width: 50%;
    min-height: 1rem;
    padding: 0 4rem;
}

.about-items h1 {
    font-size: 4rem;
}

.about-items p {
    margin-top: 2rem;
    display: inline-block;
}

.about-span {
    display: none;
}

.about-button {
    display: block;
    margin-top: 1rem;
    width: 7rem;
    min-height: 2rem;
    font-size: clamp(11px, 1.2vw, 16px);
    letter-spacing: 0.6px;
    font-weight: 600;
    border-radius: 20px;
    background-color: var(--main);
    border: 2px solid var(--main);
    color: var(--text);
    cursor: pointer;
}


/* ------------------------------------------------------------------project--------------------------------------------------------------------------------------------- */


.project {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    min-height: 60rem;
    background-color: var(--bg);
    column-gap: 1rem;
    color: var(--text);
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 5rem;
    column-gap: 11rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}

/* new learning*/
.project>h1:nth-of-type(1) {
    text-align: center;
    font-size: 4rem;
    margin: 3rem 0;
}

.project-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--bg2);
    width: 22rem;
    min-height: 33rem;
    row-gap: 2rem;
}

.project-items img {
    min-height: 20rem;
    width: 22rem;
}

.project-link {
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.project-link a:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid var(--main);
    font-size: 1.7rem;
    transition: 0.3s ease;
}

.project-link a:nth-of-type(1):hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main);
    color: var(--text);
    box-shadow: 0 0 20px var(--main);
}

.project-link a:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid var(--main);
    font-size: 1.7rem;
    transition: 0.3s ease;
}

.project-link a:nth-of-type(2):hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main);
    color: var(--text);
    box-shadow: 0 0 20px var(--main);
}


/* ----------------------------------------------------------------skill------------------------------------------------------------------------------------------------ */


.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg2);
    min-height: 50rem;
    row-gap: 2rem;
}

.skill-container {
    background-color: var(--bg);
    width: 70rem;
    min-height: 10rem;
    padding: 20px;
}

.skill-items {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.skill-box {
    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
}

.skill-box i {
    font-size: 1.3rem;
}

.skill-box div {
    width: 68rem;
    min-height: 0.7rem;
    background-color: var(--text);
    border-radius: 10px;
    cursor: pointer;
}

.skill h1 {
    margin: 2rem 0;
    font-size: 4rem;
}

.html span {
    display: block;
    width: 60rem;
    min-height: 0.7rem;
    background-color: gold;
    box-shadow: 0 0 25px gold;
    border-radius: 10px;
    transition: 0.3s ease;
}

.html span:hover {
    box-shadow: 0 0 25px gold, 0 0 50px gold;
}

.css span {
    display: block;
    width: 55rem;
    min-height: 0.7rem;
    background-color: red;
    box-shadow: 0 0 25px red;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.css span:hover {
    box-shadow: 0 0 25px red, 0 0 50px red;
}

.js span {
    display: block;
    width: 45rem;
    min-height: 0.7rem;
    background-color: blue;
    box-shadow: 0 0 25px blue;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.js span:hover {
    box-shadow: 0 0 25px blue, 0 0 50px blue;
}

.react span {
    display: block;
    width: 40rem;
    height: 0.7rem;
    background-color: purple;
    box-shadow: 0 0 25px purple;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.react span:hover {
    box-shadow: 0 0 25px purple, 0 0 50px purple;
}


/* -----------------------------------------------------------------contact---------------------------------------------------------------------------------------------- */


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    min-height: 55rem;
    row-gap: 2rem;
}

.contact h1 {
    color: var(--text);
    font-size: clamp(30px, 6vw, 200px);
    margin: 2rem 0;
}

.contact i {
    color: var(--main);
}

.contact-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48rem;
    row-gap: 1rem;
}

.contact-form input:nth-of-type(-n+4) {
    height: 3rem;
    max-width: 48rem;
    width: 100%;
    padding: 0 5px;
    border-radius: 10px;
    background-color: var(--bg2);
    color: var(--text);
}

.contact-form textarea {
    min-height: 13rem;
    max-width: 48rem;
    width: 100%;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: var(--bg2);
    color: var(--text);
}

.btn {
    background-color: var(--main);
    color: var(--text);
    width: 9rem;
    height: 2rem;
    border-radius: 1rem;
    font-weight: 700;
    font-size: clamp(10px, 1.2vw, 15px);
    letter-spacing: 0.6px;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px var(--main);
}

.last {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 2rem;
    align-items: center;
    background-color: var(--main);
    min-height: 10rem;
}

.last-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
    border-radius: 50%;
    border: 2px solid var(--text);
    transition: 0.3s ease;
}

.last-items i {
    color: var(--text);
}

.last-items:hover {
    transform: scale(1) translateY(-10px);
}

.last p {
    margin: 10px 0;
}


/* ---------------------------------------------------------------scroll-bar--------------------------------------------------------------------------------------------- */


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main);
}


/* ---------------------------------------------------------------media queries------------------------------------------------------------------------------------------ */


@media(max-width: 1024px) {
    html {
        font-size: 70%;
    }
}

@media(max-width: 815px) {
    html {
        font-size: 70%;
    }

    #home {
        display: flex;
        flex-direction: column-reverse;
        min-height: 80rem;
    }

    #menu-icon {
        display: inline;
    }

    .header-items.active {
        display: flex;
    }

    .header-items {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        width: 100%;
        background: var(--bg2);
        padding: 2rem 0;
        row-gap: 2rem;
        font-size: 20px;
    }

    .home-image {
        margin-top: 1rem;
        margin-bottom: 5rem
    }

    .home-items {
        width: 90%;
    }

    .home-resume {
        margin-bottom: 2rem;
    }

    #about {
        display: flex;
        flex-direction: column-reverse;
        min-height: 70rem;
    }

    #about h1 {
        margin-top: 0;
    }

    .about-button {
        margin-top: 2rem;
    }

    .about-items {
        width: 100%;
    }

    .image_container {
        height: 20rem;
        margin: 11rem 0;
    }

    .skill-container {
        width: 90%;
    }

    .skill-box div {
        width: 100%;
    }

    .html span {
        width: 85%
    }

    .css span {
        width: 75%;
    }

    .js span {
        width: 65%;
    }

    .react span {
        width: 60%;
    }

    .contact-form,
    .contact-items {
        width: 90%;
    }

    #project {
        min-height: 55rem;
    }
}